<breadcrumb></breadcrumb>
<mat-card>
    <form [formGroup]="listbookSettings">

        <mat-slide-toggle
                          formControlName="isMaskedMobile" class="d-block m-b-8">
            Do you want to hide prospects mobile number while you share your "List Book" to others?
        </mat-slide-toggle>
        <mat-slide-toggle
                          formControlName="isExportExcel" class="d-block m-b-8">
            Enable export to excel?
        </mat-slide-toggle>
        <mat-slide-toggle
                          formControlName="isDownloadExcelFormat" class="d-block m-b-8">
            Show download format of "List Book" to upload your prospect list?
        </mat-slide-toggle>
    </form>
</mat-card>