<breadcrumb></breadcrumb>
<div class="list-book-filters">
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        <!-- <mat-icon matSuffix>search</mat-icon> -->
    </mat-form-field>
    <div>
        <button type="button" mat-raised-button color="primary" class="
        m-r-8" (click)="addProspect()">Add Prospect</button>
        <button type="button" mat-raised-button color="primary" class="
        m-r-8" (click)="exportToExcel()"
                *ngIf="listBookSettings && listBookSettings.isExportExcel">Export to
            Excel</button>
        <button mat-icon-button [matMenuTriggerFor]="menu"
                *ngIf="listBookSettings && listBookSettings.isDownloadExcelFormat"
                aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span>Export List Book
                    Format</span>
            </button>
        </mat-menu>
    </div>
</div>

<div class="mat-elevation-z1">
    <div class="example-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="75px"> No. </th>
                <td mat-cell *matCellDef="let element; let i = index" fxFlex="75px"> {{i + 1}} </td>
            </ng-container>

            <!-- Prospect Name Column -->
            <ng-container matColumnDef="prospectName" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="150px"> Prospect Name
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="150px"> {{element.prospectName}}
                </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="75px"> Age </th>
                <td mat-cell *matCellDef="let element" fxFlex="75px"> {{element.age}} </td>
            </ng-container>

            <!-- Mobile Column -->
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="150px"> Mobile </th>
                <td mat-cell *matCellDef="let element" fxFlex="150px"> {{element.mobile}} </td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="200px"> Address </th>
                <td mat-cell *matCellDef="let element" fxFlex="200px"> {{element.city}},
                    {{element.stateName}}</td>
            </ng-container>

            <!-- Marital Status Column -->
            <ng-container matColumnDef="maritalStatusName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> Marital Status
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="100px"> {{element.maritalStatusName}}
                </td>
            </ng-container>

            <!-- Occupation Column -->
            <ng-container matColumnDef="occupation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> Occupation
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="100px"> {{element.occupation}} </td>
            </ng-container>

            <!-- Income Column -->
            <ng-container matColumnDef="income">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> Income </th>
                <td mat-cell *matCellDef="let element" fxFlex="100px"> {{element.income}} </td>
            </ng-container>

            <!-- Relation Column -->
            <ng-container matColumnDef="relation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> Relation </th>
                <td mat-cell *matCellDef="let element" fxFlex="100px"> {{element.relation}} </td>
            </ng-container>

            <!-- Relation Degree Column -->
            <ng-container matColumnDef="degreeOfRelationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="150px"> Relation
                    Degree </th>
                <td mat-cell *matCellDef="let element" fxFlex="150px">
                    {{element.degreeOfRelationName}}
                </td>
            </ng-container>


            <!-- Profile Column -->
            <ng-container matColumnDef="profileName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="75px"> Profile </th>
                <td mat-cell *matCellDef="let element" fxFlex="75px"> {{element.profileName}} </td>
            </ng-container>

            <!-- Remarks Column -->
            <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="100px"> Remark </th>
                <td mat-cell *matCellDef="let element" fxFlex="100px"> {{element.remarks}} </td>
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="prospectStatusName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="75px"> Status </th>
                <td mat-cell *matCellDef="let element" fxFlex="75px"> {{element.prospectStatusName}}
                </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50px"> Actions </th>
                <td mat-cell *matCellDef="let element; let i = index" fxFlex="50px"> <button
                            mat-icon-button
                            [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editBook(i)">
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="openDeleteDialog(i, element)">
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>